# Ignore compiled Python files
*.pyc

# Ignore cloud9 config folders
.c9/

# Ignore all virtual environment folders
venv/

# Ignore all secret files and key files
*.secret
*.key

# Ignore all node_modules
node_modules/
